html
  head
    title= title
    style
      include style.css
  body
    h1= message
    ul
      each event in data
          li(class=event.type)!= '<b>['+event.type+'] '+event.tag+'</b>  : ' + event.message