.ERROR {
	color: red;
}
.WARNING {
	color: #FD8008;
}
.INFO {
	color: #0028FF;
}
.DEBUG {
	color: black;
}
.VERBOSE {
	color: gray;
}
body{
	font-family: monospace;
}
ul{
	list-style-type: none;
  	padding: 0;
  	margin: 0;
}
li:nth-child(odd) {
    background-color: azure;
}
li:nth-child(even) {
    background-color: gainsboro;
}